<!DOCTYPE html>
<html>
  <head>
    <title>
      <%def name="title()">Welcome</%def>${self.title()} :: Mobile London Guide
    </title>
    <% 
      requested_with = request.headers.get('X_REQUESTED_WITH', '')
      ajax_request = requested_with.lower() == 'xmlhttprequest'
    %>
    % if not ajax_request:
      <link rel="stylesheet" 
          href="${get_static_url('css/reset.css')}"
      />
      <link rel="stylesheet"
          href="${get_static_url('jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.min.css')}"
      />
      <link rel="stylesheet" 
          href="${get_static_url('css/style.css')}"
      />
      <script type="text/javascript"
          src="http://maps.google.com/maps/api/js?sensor=true">
      </script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js">
      </script>
      <script type="text/javascript" 
          src="${get_static_url('js/jquery.cookie.js')}">
      </script>
      <script type="text/javascript" 
          src="${get_static_url('js/jquery.geolocation.js')}">
      </script>
      <script type="text/javascript" 
          src="${get_static_url('js/client.js')}">
      </script>
      <script type="text/javascript"
          src="${get_static_url('jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.min.js')}">
      </script>
    % endif
    <%def name="extraheaders()"></%def>${self.extraheaders()}
  </head>
  <body>
    <%def name="header(heading)">
      <div data-role="header" data-backbtn="false">
        <h1>${heading}</h1>
        <a href="/options/" 
            data-icon="gear" 
            data-transition="pop"
            data-iconpos="notext"
            class="ui-btn-right">Options</a>
      </div>
    </%def>
    ${next.body()}
  </body>
</html>


<!-- 
  
  not used
  
  
-->

<%def name="footer(active)">
  <div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="/" data-direction="reverse"
              class="ui-state-persist ${active == 'listings' and 'ui-btn-active' or ''}">
            Listings</a>
        </li>
        <li>
          <a href="/map/"
              class="ui-state-persist ${active == 'map' and 'ui-btn-active' or ''}">
            Map</a>
        </li>
      </ul>
    </div>
  </div>
</%def>

