<%inherit file="base.tmpl"/>

<%def name="title()">${category.label}</%def>

<%def name="header(active)">
  <div data-role="header">
    <a href="/" data-icon="home" class="ui-btn-left">
      Home</a>
    <h1>${category.label}</h1>
    <a href="/options/" data-icon="gear" data-iconpos="right" class="ui-btn-right">
      Options</a>
    <div data-role="navbar">
      <ul>
        <li>
          <% active_class = active == 'listings' and 'ui-btn-active' or '' %>
          <a href="/categories/${category.value}/"
              data-role="button"
              data-direction="reverse"
              class="ui-state-persist ${active_class}">
            Listings</a>
        </li>
        <li>
          <% active_class = active == 'map' and 'ui-btn-active' or '' %>
          <a href="/categories/${category.value}/map/"
              data-role="button"
              class="ui-state-persist ${active_class}">
            Map</a>
        </li>
      </ul>
    </div>
  </div>
</%def>

<%def name="page()">
  <div data-role="page">
    ${self.header('listings')}
    <div data-role="content">
      % for item in places:
        <a href="/places/${item.id}/" data-role="button">
          ${item.title}</a>
      % endfor
    </div>
  </div>
</%def>

${self.page()}
