<%inherit file="page.tmpl"/>

<div data-role="page">
  <div data-role="header">
    <h1>I am Foo!</h1>
  </div>
  <div data-role="content">  
    <p>Foooooooooooooooooooo</p>
    <p>Foooooooooooooooooooo</p>
    <p>Foooooooooooooooooooo</p>
    <p>Foooooooooooooooooooo</p>
  </div>
  <div data-role="footer">
    <h4>Page Footer</h4>
  </div>
</div>

