<%inherit file="page.tmpl"/>

<div data-role="page">
  <div data-role="header">
    <h1>What are you looking for?</h1>
  </div>
  <div data-role="content">  
    <p>Page content goes here.</p>    
    <a href="foo.htm">
      open foo
    </a>
  </div>
  <div data-role="footer">
    <h4>Page Footer</h4>
  </div>
</div>

