<%inherit file="base.tmpl"/>

<%def name="title()">Welcome</%def>

<div data-role="page">
  ${self.header('Mobile London Guide')}
  <div data-role="content">  
    % for item in categories:
      <a href="/categories/${item.value}/" 
          class="glyphish"
          data-role="button" 
          data-icon="london-${item.value}"
          data-iconpos="top">
        ${item.label}
      </a>
    % endfor
  </div>
</div>