<%inherit file="page.tmpl"/>

${self.header('What are you looking for?')}

<div data-role="content">  
  <p>Page content goes here.</p>
  <p>Page content goes here.</p>
  <p>Page content goes here.</p>
  <p>Page content goes here.</p>
  <p>Page content goes here.</p>
  <a href="foo.htm" data-transition="flip">
    open foo
  </a>
</div>

${self.footer('listings')}