<%inherit file="page.tmpl"/>

${self.header('Categories')}

<div data-role="content">  
  % for item in categories:
    <a href="/categories/${item.value}/" 
        class="glyphish"
        data-role="button" 
        data-icon="london-${item.value}"
        data-iconpos="top">
      ${item.label}
    </a>
  % endfor
</div>

${self.footer('listings')}