<%inherit file="page.tmpl"/>

${self.header('View on Map')}

<div data-role="content">  
  <p>I am a map!</p>
  <p>I am a map!</p>
  <p>I am a map!</p>
  <p>I am a map!</p>
  <p>I am a map!</p>
</div>

${self.footer('map')}