<%inherit file="base.tmpl" />

<%def name="title()">Options</%def>

<div data-role="dialog">
  <div data-role="header">
    <h1>Options</h1>
  </div>
  <div data-role="content">  
    <p>
      Lorum ipsum ...
    </p>
    <a href="#" 
        data-rel="back" data-role="button"  data-icon="delete" data-iconpos="top">
      Cancel</a>
  </div>
</div>