<!DOCTYPE html>
<html>
  <head>
    <title>
      London Mobile Guide
    </title>
    <link rel="stylesheet"
        href="${get_static_url('css/reset.css')}"
    />
    <link rel="stylesheet"
        href="${get_static_url('jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.min.css')}"
    />
    <link rel="stylesheet"
        href="${get_static_url('css/style.css')}"
    />
    <script type="text/javascript" 
        src="${get_static_url('js/jquery-1.5.2.min.js')}">
    </script>
    <script type="text/javascript" 
        src="${get_static_url('js/client.js')}">
    </script>
    <script type="text/javascript"
        src="${get_static_url('jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.min.js')}">
    </script>
  </head>
  <body>
    
    ${next.body()}
    
  </body>
</html>
